name: Build feature

on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lint Code Base
        uses: docker://github/super-linter:v3
        env:
          VALIDATE_KOTLIN: true
          VALIDATE_YAML: true
          VALIDATE_XML: true

  build-feature:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Prepare keystore.properties
        run: ./.github/scripts/prepare-feature-keystore-properties.sh

      - name: Build feature
        run: |
          bundle exec fastlane build_feature build:$BUILD --verbose
        env:
          BUILD: ${{ github.run_number }}

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v2
        with:
          name: outputs
          path: app/build/outputs/
