name: Deploy

on:
  push:
    branches:
      - release
      - candidate

jobs:
  deploy:
    if: github.repository == 'mchllngr/Quickero'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lint Code Base
        uses: docker://github/super-linter:v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_KOTLIN: true
          VALIDATE_YAML: true
          VALIDATE_XML: true

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Prepare keystore.properties
        run: ./.github/scripts/prepare-release-keystore-properties.sh
        env:
          KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          KEYSTORE_ENCRYPTION_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_ENCRYPTION_PASSPHRASE }}
          KEYSTORE_STORE_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_STORE_PASSPHRASE }}
          KEYSTORE_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_ALIAS_PASSPHRASE }}

      - name: Prepare google-api.json
        run: ./.github/scripts/prepare-fastlane.sh
        env:
          API_JSON: ${{ secrets.RELEASE_API_JSON }}
          API_JSON_ENCRYPTION_PASSPHRASE: ${{ secrets.RELEASE_API_JSON_ENCRYPTION_PASSPHRASE }}

      - name: Deploy
        run: |
          if [ "$BRANCH" == "refs/heads/release" ]; then
            bundle exec fastlane deploy_release build:$BUILD --verbose
          elif [ "$BRANCH" == "refs/heads/candidate" ]; then
            bundle exec fastlane deploy_candidate build:$BUILD --verbose
          else
            echo "Unknown branch '$BRANCH'. Aborting..."
            exit 1
          fi
        env:
          BRANCH: ${{ github.ref }}
          BUILD: ${{ github.run_number }}

      - name: Upload outputs artifact
        uses: actions/upload-artifact@v2
        with:
          name: outputs
          path: app/build/outputs/
